<%- include ("./partials/head.ejs") %>

<div class="main-content centered">

    <div id="enter-name-container">
        <h1 class="title"><label for="set-name-input">What can people call you?</label></h1>
        <input id="set-name-input" type="text" placeholder="Enter a name...">
        <a id="submit-name" class="regular-button">Submit</a>
    </div>

    <div id="group-buttons-container">
        <h1 class="title">Create a group or join one?</h1>
        <a id="back-button-set-username" class="back-button">< Back</a>
        <a id="create-group" class="regular-button">Create a group</a>
        <a id="join-group" class="regular-button">Join a group</a>
    </div>

    <div id="enter-pin-container">
        <h1 class="title"><label for="set-pin-input">What is the room's pin?</label></h1>
        <a id="back-button-select-group" class="back-button">< Back</a>
        <input id="set-pin-input" type="number" oninput="this.value=this.value.slice(0,6)" placeholder="Pin..." >
        <a id="submit-pin" class="regular-button">Submit</a>
    </div>

    <div id="main-content-container">
        <div id="group-info-container">
            <p id="group-id-text"></p>
            <a id="leave-group" class="regular-button">Leave Group</a>
            <p id="people-list-title">People in group:</p>
            <div id="people-list-container">
            </div>
        </div>

        <div id="playlist-maker-container">
            <div id="search-container">
                <input id="search-track-input" type="text" placeholder="Search for a track...">

                <div id="tracks-container">

                </div>
            </div>
            <div id="playlist-container">

            </div>
        </div>
    </div>

</div>

<%- include ("./partials/footer.ejs") %>