.track-album-cover {
    width: auto;
    height: 100%;
    border-radius: 4px;
}

.track-listens-container {
    display: flex;
    height: 24px;
    align-items: center;
}

.followers-icon {
    width: auto;
    height: 100%;
    margin: 0 8px 0 0;
}

.track-name,
.track-listens {
    margin: 0;
    color: var(--black);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 360px;
    text-align: left;
}


.track-listens {
    margin: 0;
    color: var(--black);
}

.artist-item {
    text-decoration: none;
    align-items: center;
    display: flex;
    height: 72px;
    max-height: 72px;
    padding: 12px 8px 12px 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.track-info-container {
    height: 100%;
    width: fit-content;

    margin: 0 12px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    overflow: hidden;
}

.track-listens-icon {
    margin-right: 4px;
}

.track-state-container {
    width: fit-content;

    white-space: nowrap;

    background-color: var(--dark);
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: 0;
}

.vote-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.vote-no, .vote-yes {
    padding: 4px 8px;
    flex: 1;
}

.vote-yes {
    background-color: darkseagreen;
    border-radius: 8px 0 0 0;
}

.vote-no {
    background-color: indianred;
    border-radius: 0 8px 0 0;
}

.total-container {
    width: initial;
    margin: 4px 6px;
}